body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u66 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u67 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:503px;
  top:229px;
  width:222px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:503px;
  top:377px;
  width:222px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:503px;
  top:450px;
  width:222px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:242px;
  top:1154px;
  width:100px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:503px;
  top:1154px;
  width:100px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:117px;
  top:1154px;
  width:100px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
