body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u62 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u63 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:100px;
  top:135px;
  width:71px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:100px;
  top:302px;
  width:632px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
