body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:741px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u118 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u119 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:668px;
  top:142px;
  width:73px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  position:absolute;
  left:100px;
  top:125px;
  width:64px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122 {
  position:absolute;
  left:178px;
  top:329px;
  width:155px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
