body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u110 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u111 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:145px;
  top:205px;
  width:233px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:100px;
  top:130px;
  width:57px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
