body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u105 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u106 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:100px;
  top:134px;
  width:83px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  position:absolute;
  left:611px;
  top:309px;
  width:114px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  position:absolute;
  left:443px;
  top:214px;
  width:266px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
