body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u101 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u102 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:100px;
  top:139px;
  width:56px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:336px;
  top:243px;
  width:214px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
