body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1138px;
}
#u134 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1138px;
}
#u135 {
  position:absolute;
  left:2px;
  top:561px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:100px;
  top:144px;
  width:78px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
